.form-group.search-box
  %input.form-control.search-input{:type => type,
                                   :name => search_field,
                                   :placeholder => t("search.field") % field,
                                   'ng-model' => "search.%s" % search_field,
                                   'ng-keyup' => "doEnter($event)" }
  %span.form-control-clear{'ng-click' => "doReset('%s')" % search_field,
                           'ng-class' => 'clear'}
    %i.fa.fa-times-circle-o