<div class="pagination" ng-show="range().length > 1">
  <ul>
    <li ng-class="prevPageDisabled()" ng-click="prevPage()">
      <span>«</span>
    </li>
    <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
      <span>{{ n }}</span>
    </li>
    <li ng-class="nextPageDisabled()" ng-click="nextPage()">
      <span>»</span>
    </li>
  </ul>
</div>