%header
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        = link_to t(:title), root_path, class: 'brand'

        -#%div(ng-controller='langCtrl')
          %form
            %select(ng-model="lang.langSelector" ng-change="ngChangeLang()" name="langSelector" ng-init="lang.langSelector='ru'")
              %option(ng-repeat="lang in lang.languages")
                {{lang}}